<div class="card-columns m-5 animated fadeIn">

    <div *ngFor="let release of newReleases" class="card puntero">
        <img class="card-img-top" [src]="release.images[0].url" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ release.name }}</h5>
            <p class="card-text">
                <span *ngFor="let artist of release.artists" class="badge badge-pill badge-primary">
                    {{ artist.name }}
                </span>
            </p>
        </div>
    </div>

</div>
